@model Aluno
@{
    ViewData["Title"] = "Home";
}

<div class="text-justify">
    <div class="text-justify">
        <h3>Entrar como: </h3>
    </div>
    <div>
        <a role="button" class="btn btn-secondary" asp-controller="Aluno" asp-action="Login">Aluno</a>
        <a role="button" class="btn btn-secondary" asp-controller="Professor" asp-action="Login">Professor</a>
        <a role="button" class="btn btn-secondary" asp-controller="Parceiro" asp-action="Login">Parceiro</a>
    </div>

    <br />

    <div class="text-justify">
        <h3>Cadastrar: </h3>
    </div>

    <div>
        <a role="button" class="btn btn-secondary" asp-controller="Aluno" asp-action="Criar">Cadastrar Aluno</a>
        <a role="button" class="btn btn-secondary" asp-controller="Parceiro" asp-action="Criar">Cadastrar Parceiro</a>
    </div>
</div>