@model Professor
@{
    ViewData["Title"] = "Home Professor";
}

<div class="text-justify">
    <h3>Olá @Model.Nome</h3>
</div>

<br />

<div>
    <a role="button" class="btn btn-secondary">Extrato</a>
    <a role="button" class="btn btn-secondary">Enviar moedas</a>
</div>

