@model Vantagem
@{
    ViewData["Title"] = "Cadastrar vantagem";
}

<div class="text-justify">
    <h3 class="display-4">Cadastrar vantagem</h3>
    <form asp-controller="Vantagem" asp-action="Criar" enctype="multipart/form-data" method="post">

        <div class="form-group mb-3">
            <label for="exampleInputNome">Nome</label>
            <input type="text" asp-for="Nome" class="form-control" id="exampleInputNome">
        </div>

        <div class="form-group mb-3">
            <label for="exampleInputDescricao">Descrição</label>
            <input type="text" asp-for="Descricao" class="form-control" id="exampleInputDescricao">
        </div>

        <div class="form-group mb-3">
            <label for="exampleInputValor">Valor</label>
            <input type="number" asp-for="Custo" class="form-control" id="exampleInputDescricao">
        </div>

        <div class="form-group mb-3">
            <label for="exampleInputCusto">Foto do produto</label>
            <input type="file" name="arquivos" multiple>
        </div>

        <br />

        <div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            <a role="button" class="btn btn-secondary" asp-controller="Parceiro" asp-action="HomeParceiro">Voltar</a>
        </div>
    </form>

</div>