@model List<Vantagem>
@{
    ViewData["Title"] = "Lista de vantagens";
}

<div class="text-justify">
    <h3 class="display-4">Vantagem</h3>
</div>

@if (Model != null && Model.Any())
{
    foreach (Vantagem item in Model)
    {
        <div class="card" style="width: 18rem;">
@*            <img class="card-img-top" src="..." alt="Card image cap">
*@            <div class="card-body">
                <h5 class="card-title">@item.Nome</h5>
                <p class="card-text">@item.Descricao</p>
                 <p class="card-text">@item.Custo</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    }
}
