@model List<Vantagem>
@{
    ViewData["Title"] = "Lista de vantagens";
}

<div class="text-justify">
    <h2>Vantagem</h2>
</div>

<div class="card-group">

    @if (Model != null && Model.Any())
    {
        foreach (Vantagem item in Model)
        {
            <div class="card">
                <img class="card-img-top" src="~/Images/@item.ContentType" asp-append-version="true">
                <div class="card-body">
                    <h5 class="card-title">@item.Nome</h5>
                    <p class="card-text">@item.Descricao</p>
                    <p class="card-text">R$@item.Custo</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        }
    }
</div>
