@model Parceiro
@{
    ViewData["Title"] = "Home Parceiro";
}

<div class="text-justify">
    <h3>Olá @Model.Nome</h3>
</div>

<br />

<div>
    <a role="button" class="btn btn-secondary" asp-controller="Vantagem" asp-action="Criar">Cadastrar vantagem</a>
</div>

