@model Parceiro
@{
    ViewData["Title"] = "Login";
}

<h3>Login Parceiro</h3>

<form asp-controller="Parceiro" asp-action="Login" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" asp-for="Email" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Senha</label>
        <input type="password" class="form-control" asp-for="Senha" id="exampleInputPassword1">
    </div>
    <br />

    @if (TempData["Erro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["Erro"]
        </div>
    }
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>